FB_HOST=
FB_DB_ESTOQUE=
FB_DB_BOQ=
FB_DB_OCI=
FB_DB_PET=
FB_USER=
FB_PASSWORD=

TOKEN_TESTE=
TOKEN_PRINCIPAL=
SENHA=

ID_ADMIN=
ID_GRUPO_BUSCA=
ID_GRUPO_PRODUTOS=
IDS_USERS_BUSCA=
IDS_USERS_COMPRA=

MUDANCA_SECAO_DIR=
HISTORICO_TRANSFERENCIA_DIR=
PRINTER_NAME=
SUMATRA_PATH=
