.env
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

logs/*
listas/*
output/*
etiquetas/*
planilhassecao/*.xlsx
data/*

*.xlsx
*.xls
*.csv
*.txt
!requirements.txt
*.json
*.png
*.jpg
*.jpeg
*.exe
*.lnk
block.txt
image.jpg
consultatemp.txt
usersid.txt
autenticados.txt
README.md
